DEGOOG_ENGINES_DIR=./data/engines
DEGOOG_PLUGINS_DIR=./data/plugins
DEGOOG_THEMES_DIR=./data/themes
DEGOOG_TRANSPORTS_DIR=./data/transports
DEGOOG_ALIASES_FILE=./data/aliases.json
DEGOOG_PLUGIN_SETTINGS_FILE=./data/plugin-settings.json
DEGOOG_DEFAULT_ENGINES_FILE=./data/default-engines.json
DEGOOG_SETTINGS_TOKENS_FILE=./data/settings-tokens.json
DEGOOG_AUTOCOMPLETE_DIR=./data/autocomplete
DEGOOG_BLOCKLIST_FILE=./data/blocklist.json